* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav-Area */
#top-nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-link:hover {
  background-color: #555;
}

.search-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#search-input {
  padding: 5px;
  margin-right: 10px;
  font-size: 16px;
}

#search-button {
  padding: 5px 10px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#search-button:hover {
  background-color: #666;
}

/* Grundlegende Stilisierung des Navigationsbereichs */
.nav-container {
  background-color: #f0f0f0;
  padding: 10px;
}

.nav-link {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

/* Stilisierung der Suchergebnisse */
#search-results {
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none; /* Standardmäßig nicht angezeigt */
  max-height: 200px;
  overflow-y: auto; /* Ermöglicht das Scrollen, falls viele Ergebnisse vorhanden sind */
  position: absolute; /* Damit das Ergebnisfeld über anderen Inhalten schwebt */
  top: 3.2rem; /* Positionierung unterhalb des Suchfelds */
  width: 26.7vw; /* Breite des Suchfelds */;
  z-index: 1000; /* Stellt sicher, dass das Ergebnisfeld über anderen Elementen liegt */
}

#search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-results ul li {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

#search-results ul li:last-child {
  border-bottom: none;
}

#search-results ul li:hover {
  background-color: #f9f9f9;
}

.addButton {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #007BFF; /* Blaue Hintergrundfarbe */
  border: none; /* Keine Kante */
  color: white; /* Weiße Textfarbe */
  padding: 5px 10px; /* Reduziertes Padding für einen kleineren Button */
  text-align: center; /* Zentrierter Text */
  text-decoration: none; /* Keine Textdekoration */
  display: inline-block; /* Inline-Block-Display */
  font-size: 14px; /* Kleinere Schriftgröße */
  margin: 4px 2px; /* Außenabstand */
  cursor: pointer; /* Cursor als Zeiger */
  border-radius: 8px; /* Weniger abgerundete Ecken für einen kleineren Button */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Schattierung hinzufügen */
  transition: all 0.3s; /* Glatter Übergang für Hover-Effekte */
}

.addButton:hover {
  background-color: #0056b3; /* Dunklere Hintergrundfarbe */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19); /* Stärkere Schattierung */
}

/* Stil für die Friends-Area */

.chatButtonRequest {
  display: inline-block;
  background-color: #4CAF50; /* Grüner Hintergrund */
  border: none;
  color: white; /* Weiße Textfarbe */
  padding: 5px 5px 2.5px; /* Padding innen */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px; /* Abgerundete Ecken für den Button */
}

.chatButtonRequest svg {
  fill: white; /* SVG-Füllfarbe auf Weiß setzen */
  vertical-align: middle; /* Zentriert das SVG vertikal zum Text */
}

/* Grundlegende Reset-Stile für den Chat */
#app-container {
  display: flex;
}

#chat-selection {
  width: 20%; /* Breite der Chat-Auswahl */
  background-color: #f2f2f2; /* Hintergrundfarbe */
  padding: 10px; /* Innenabstand */
  height: 100vh; /* Volle Höhe */
  overflow-y: auto; /* Bei Bedarf vertikales Scrollen */
}

#chat-container {
  flex-grow: 1; /* Rest des verfügbaren Raums einnehmen */
  padding: 10px; /* Innenabstand */
}

.chat-option {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ddd;
  cursor: pointer;
}

.chat-option:hover {
  background-color: #ccc;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
}

#chat {
  border: 1px solid #e4e4e4;
  height: 400px;
  overflow-y: scroll;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Stil für die Nachrichteneingabe */
#message-input {
  width: calc(100% - 48px); /* Abzug der Buttonbreite und etwas Padding */
  padding: 10px;
  margin: 20px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Stil für den Senden-Button */
#send-button {
  background-color: #4CAF50; /* Grüner Hintergrund */
  color: white;
  padding: 10px 20px;
  margin: 20px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: auto;
}

#send-button:hover {
  background-color: #45a049; /* Dunkleres Grün beim Hover */
}

/* Anpassungen für eine bessere Benutzererfahrung */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Stil für Nachrichten von 'dir' */
p.you {
  background-color: #dcf8c6; /* Hellgrün, ähnlich WhatsApp für gesendete Nachrichten */
  padding: 10px;
  border-radius: 18px;
  max-width: 80%;
  margin: 5px 0;
  word-wrap: break-word;
  float: right; /* Rechtsbündig für eigene Nachrichten */
  clear: both;
  color: black; /* Textfarbe */
  border: 1px solid #c4e1a4; /* Leicht dunklerer Rand als der Hintergrund */
}

/* Stil für Nachrichten von 'anderen' */
p.them {
  background-color: #ebebeb; /* Grau für empfangene Nachrichten */
  padding: 10px;
  border-radius: 18px;
  max-width: 80%;
  margin: 5px 0;
  word-wrap: break-word;
  float: left; /* Linksbündig für empfangene Nachrichten */
  clear: both;
  color: black; /* Textfarbe */
  border: 1px solid #d4d4d4; /* Leicht dunklerer Rand als der Hintergrund */
}

/* Clearfix für die Nachrichten */
p:after {
  content: "";
  display: table;
  clear: both;
}
